<a href="https://colab.research.google.com/github/LeonardoLiberty/30-seconds-of-code/blob/master/all_beauty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame 
from collections import Counter
import re

from sklearn.neighbors import NearestNeighbors
from sklearn.linear_model import LogisticRegression
from sklearn import neighbors
from scipy.spatial.distance import cosine
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

import re
import string
from wordcloud import WordCloud, STOPWORDS
from sklearn.metrics import mean_squared_error

In [3]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/MyDrive/all_beauty_reco/")
!ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
all_beauty.ipynb  All_Beauty.json  meta_All_Beauty.json

In [6]:
reviews = pd.read_json('All_Beauty.json', lines=True)
reviews.head()

   overall  verified   reviewTime  ... vote style image
0        1      True  02 19, 2015  ...  NaN   NaN   NaN
1        4      True  12 18, 2014  ...  NaN   NaN   NaN
2        4      True  08 10, 2014  ...  NaN   NaN   NaN
3        5      True  03 11, 2013  ...  NaN   NaN   NaN
4        5      True  12 25, 2011  ...    5   NaN   NaN

[5 rows x 12 columns]

In [10]:
tmp = Counter(reviews['vote'])
{x: count for x, count in tmp.items() if count >= 100}

{'10': 828,
 '11': 652,
 '12': 571,
 '13': 487,
 '14': 366,
 '15': 361,
 '16': 308,
 '17': 237,
 '18': 202,
 '19': 189,
 '2': 19631,
 '20': 160,
 '21': 171,
 '22': 148,
 '23': 136,
 '24': 115,
 '27': 105,
 '3': 9662,
 '4': 5552,
 '5': 3586,
 '6': 2421,
 '7': 1669,
 '8': 1347,
 '9': 1016,
 nan: 319446}

In [12]:
reviews['overall'].value_counts()

5    229549
4     52687
1     39261
3     29555
2     20293
Name: overall, dtype: int64

In [5]:
meta = pd.read_json('meta_All_Beauty.json', lines=True)
meta.head()

  category  ...                                    imageURLHighRes
0       []  ...                                                 []
1       []  ...                                                 []
2       []  ...                                                 []
3       []  ...  [https://images-na.ssl-images-amazon.com/image...
4       []  ...  [https://images-na.ssl-images-amazon.com/image...

[5 rows x 19 columns]

In [13]:
reviews_meta = pd.merge(meta, reviews, on="asin", how='inner')
reviews_meta.shape

(382532, 30)